/web/bundles/
/web/css/
/web/js/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
nbproject/
.idea/
web/web.config
*.rar
*.zip
var/sessions/prod/sess_755df8t8dn8qsmft1qkp99qqgj
