{% extends 'base.html.twig' %}
{% block socialNavigation %}
    <li class="dropdown">
        <a class="btn btn-primary" href="abc.html">My Game Stack</a>
    </li>
{% endblock socialNavigation %}
{% block content %}

{% endblock content %}