{% extends 'base.html.twig' %}
{%  block content %}
    <h1>Welcome (index)</h1>
    <hr>
    <div class="row">
        <div class="col-md-9">
            <div class="btn-group" role="group">
                <a class="btn btn-primary"><i class="fa fa-list"></i> Primary</a>
                <a class="btn btn-primary"><i class="fa fa-list"></i> Primary</a>
                <a class="btn btn-primary"><i class="fa fa-list"></i> Primary</a>
                <a class="btn btn-primary"><i class="fa fa-list"></i> Primary</a>
                <a class="btn btn-primary"><i class="fa fa-list"></i> Primary</a>
                <a class="btn btn-primary"><i class="fa fa-list"></i> Primary</a>

            </div>
        </div>
    </div>
    <a class="btn btn-danger"><i class="fa fa-remove"></i> <span class="adaptiveText">Delete</span></a>

    <a class="btn btn-success"><i class="fa fa-check"></i> <span class="adaptiveText">Confirm</span></a>


    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
    <p>test</p>
{%  endblock content %}