{% extends 'base.html.twig' %}
{% block content %}
    <div class="col-md-4">
    <div class="alert alert-info">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non justo finibus, euismod nunc sed, tempor leo. Sed eget gravida lectus. Nam tempor vulputate mollis. Phasellus porttitor elit dolor. Nullam quam orci, condimentum ut semper nec, porta vitae ligula. Vestibulum ante ipsum primis
            in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum feugiat nulla quis nunc auctor, non dictum erat congue. Suspendisse sit amet justo at lacus interdum porta at eu dolor. Sed mattis nulla nisl, eu sollicitudin libero efficitur quis. Pellentesque egestas ultricies
            maximus. Aenean quis nisi id sem blandit pellentesque. Cras non lorem vehicula, pretium dui in, malesuada dui.
        </p>
        <p>
            Donec imperdiet sagittis mollis. Phasellus tempus vehicula ipsum, quis volutpat lacus dictum eu. Aenean eu posuere erat. Quisque tempus odio neque, vel tristique magna mollis nec. Sed eget euismod quam. Sed imperdiet neque sed magna venenatis faucibus. Vivamus odio orci, hendrerit et
            lorem vel, tincidunt lobortis augue. Praesent fermentum rhoncus elit, quis porttitor quam condimentum mattis.

            Maecenas ante justo, tempus eget nulla a, congue sagittis neque. Proin pulvinar massa nec sem luctus vulputate. Pellentesque odio mi, lacinia vel arcu nec, interdum gravida dui. Quisque dapibus molestie tincidunt. Suspendisse auctor dictum lacus, ut vestibulum arcu ultrices nec. Aliquam
            erat volutpat. Praesent suscipit dolor id tristique scelerisque.
        </p>
        <p>

            Mauris tristique massa eget vestibulum tristique. Sed at justo non augue elementum cursus a id est. Mauris tempor velit libero, lobortis ornare erat molestie sed. Fusce bibendum urna et sem eleifend tincidunt. In nec viverra nulla, sit amet congue enim. Curabitur ligula ex, semper quis
            tortor vitae, hendrerit laoreet lorem. Quisque pretium arcu a aliquam laoreet. Etiam at tortor vehicula, condimentum erat eu, posuere lorem. In venenatis augue non nibh cursus, vitae dictum tellus egestas.

        </p>
        <p>
            Donec cursus interdum rhoncus. Sed in semper ante. Duis ultricies sapien iaculis lacus hendrerit, id pulvinar ipsum blandit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean tempus tellus eu dictum malesuada. Donec quis turpis sed
            libero dignissim tincidunt id nec urna. Sed id mauris ultrices, auctor ipsum et, bibendum nulla. Fusce ac tellus in nunc eleifend mattis ut quis turpis. Nullam non ullamcorper dolor. Sed eget nisl at sapien ullamcorper eleifend sit amet nec diam. Nulla dui risus, ornare nec tincidunt
            nec, bibendum in risus. In id urna et risus porta faucibus eget mattis risus. Suspendisse velit metus, blandit id venenatis non, mattis id eros.

        </p>
    </div>
    <div class="alert alert-warning">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non justo finibus, euismod nunc sed, tempor leo. Sed eget gravida lectus. Nam tempor vulputate mollis. Phasellus porttitor elit dolor. Nullam quam orci, condimentum ut semper nec, porta vitae ligula. Vestibulum ante ipsum primis
            in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum feugiat nulla quis nunc auctor, non dictum erat congue. Suspendisse sit amet justo at lacus interdum porta at eu dolor. Sed mattis nulla nisl, eu sollicitudin libero efficitur quis. Pellentesque egestas ultricies
            maximus. Aenean quis nisi id sem blandit pellentesque. Cras non lorem vehicula, pretium dui in, malesuada dui.
        </p>
        <p>
            Donec imperdiet sagittis mollis. Phasellus tempus vehicula ipsum, quis volutpat lacus dictum eu. Aenean eu posuere erat. Quisque tempus odio neque, vel tristique magna mollis nec. Sed eget euismod quam. Sed imperdiet neque sed magna venenatis faucibus. Vivamus odio orci, hendrerit et
            lorem vel, tincidunt lobortis augue. Praesent fermentum rhoncus elit, quis porttitor quam condimentum mattis.

            Maecenas ante justo, tempus eget nulla a, congue sagittis neque. Proin pulvinar massa nec sem luctus vulputate. Pellentesque odio mi, lacinia vel arcu nec, interdum gravida dui. Quisque dapibus molestie tincidunt. Suspendisse auctor dictum lacus, ut vestibulum arcu ultrices nec. Aliquam
            erat volutpat. Praesent suscipit dolor id tristique scelerisque.
        </p>
        <p>

            Mauris tristique massa eget vestibulum tristique. Sed at justo non augue elementum cursus a id est. Mauris tempor velit libero, lobortis ornare erat molestie sed. Fusce bibendum urna et sem eleifend tincidunt. In nec viverra nulla, sit amet congue enim. Curabitur ligula ex, semper quis
            tortor vitae, hendrerit laoreet lorem. Quisque pretium arcu a aliquam laoreet. Etiam at tortor vehicula, condimentum erat eu, posuere lorem. In venenatis augue non nibh cursus, vitae dictum tellus egestas.

        </p>
        <p>
            Donec cursus interdum rhoncus. Sed in semper ante. Duis ultricies sapien iaculis lacus hendrerit, id pulvinar ipsum blandit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean tempus tellus eu dictum malesuada. Donec quis turpis sed
            libero dignissim tincidunt id nec urna. Sed id mauris ultrices, auctor ipsum et, bibendum nulla. Fusce ac tellus in nunc eleifend mattis ut quis turpis. Nullam non ullamcorper dolor. Sed eget nisl at sapien ullamcorper eleifend sit amet nec diam. Nulla dui risus, ornare nec tincidunt
            nec, bibendum in risus. In id urna et risus porta faucibus eget mattis risus. Suspendisse velit metus, blandit id venenatis non, mattis id eros.

        </p>
    </div>
    </div>
{% endblock content %}
