#content{
    padding-top: 140px;
}
.background{
    background-image: url('../img/stardust.png');
}

.panel{
    padding: 8px;
}

@media (min-width: 1px) and (max-width: 1000px) {
    .logo {display:none}
}