#content{
    padding-top: 140px;
}
.background{
    background-image: url('../img/stardust.png');
}

#main{
    padding: 22px;
}
.panel{
    padding-top: 6px;
    padding-left: 6px;
    padding-right: 6px;
}
@media (min-width: 1px) and (max-width: 1000px) {
    .logo {display:none}
}

.btn-primary{
    background-image: url('../img/primary.gif') ;
    -webkit-box-shadow: 2px 4px 8px 0px rgba(156,156,156,1);
    -moz-box-shadow: 2px 4px 8px 0px rgba(156,156,156,1);
    box-shadow: 2px 4px 8px 0px rgba(156,156,156,1);

}
.btn-danger{
    background-image: url('../img/danger.gif');
    -webkit-box-shadow: 2px 4px 8px 0px rgba(156,156,156,1);
    -moz-box-shadow: 2px 4px 8px 0px rgba(156,156,156,1);
    box-shadow: 2px 4px 8px 0px rgba(156,156,156,1);

}

.btn-success{

    background-image: url('../img/success.gif') ;
    -webkit-box-shadow: 2px 4px 8px 0px rgba(156,156,156,1);
    -moz-box-shadow: 2px 4px 8px 0px rgba(156,156,156,1);
    box-shadow: 2px 4px 8px 0px rgba(156,156,156,1);
}
.btn{
    border: 1px solid #222222;

    margin-top:2px;
}
.btn:hover,:hover .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    background-color: black !important;
}