#content{
    padding-top: 140px;
    padding-bottom: 140px;
}
.background{
    background-image: url('../img/stardust.png');
}

#main{
    padding: 22px;
        /*temp*/
        background-color: rgb(68,67,73);
}
/*.panel{*/
    /*padding-top: 6px;*/
    /*padding-left: 6px;*/
    /*padding-right: 6px;*/
    /*padding-bottom: 200px !important;*/
/*}*/
.btn{
    margin-top: 2px !important;
    margin-bottom: 2px;
}
@media (min-width: 1px) and (max-width: 1000px) {
    .logo {display:none}
}

@media (min-width: 100px) and (max-width: 1000px) {
    .adaptiveText{
        display: none;
    }
}


/*datatables*/
.dataTables_filter, .dataTables_info { display: none; }

table td a:link,table td a:visited{
    text-transform: capitalize;

}

.row{
    margin-bottom: 10px;
}