{% extends 'base.html.twig' %}
{% block content %}
    <div class="col-md-8 col-md-offset-2">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Your 5 least played games</div>
                <div class="panel-body">
                    <div class="btn-group-vertical" role="group" aria-label="...">
                        {% for suggestion in leastPlayedGames %}
                            <a class="btn btn-default" href="#">{{ suggestion.name }} with <span class="badge">{{ suggestion.plays }}</span> plays</a>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Your 5 most played games</div>
                <div class="panel-body">
                    <div class="btn-group-vertical" role="group" aria-label="...">
                        {% for suggestion in mostPlayedGames %}
                            <a class="btn btn-default" href="#">{{ suggestion.name }} with <span class="badge">{{ suggestion.plays }}</span> plays</a>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock content %}