{% extends 'base.html.twig' %}
{% block content %}
{#{{ dump() }}#}
The 3 games that you've played the least times are the following:<br>
    <div class="btn-group-vertical" role="group" aria-label="...">
    {% for suggestion in suggestionList %}
        <a class="btn btn-default" href="#">{{ suggestion.name }}  with  <span class="badge">{{ suggestion.plays }}</span> plays</a>
    {% endfor %}
    </div>
{% endblock content %}